@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif; 
}

:root {
    --bg-color: #081b29;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
    --pages-color: linear-gradient(90deg, #fff, #ddd);
    --border: .125rem solid #00abf0;
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}

.wrapper{
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    animation: show-animate 2s forwards;
    perspective: 250rem;
}

@keyframes show-animate {
    0%, 30% {
        opacity: 0;
        transform: rotate(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}

.cover-left {
    z-index: -1;
}

.cover-right {
    z-index: 100;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cover-right.turn {
    transform: rotateY(180deg);
}

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}

.book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0,0,0,.1);
    display: flex;
    padding: 2rem;
}

.page-left {
    box-shadow: -.6rem .6rem .6rem rgba(0,0,0,.1);
}

.profile-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-page img {
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
    border: .25rem solid var(--main-color);
    margin-bottom: .8rem;
}

.profile-page h1 {
    font-size: 2.7rem;
    line-height: 1;
}

.profile-page h3{
    font-size: 1.5rem;
    color: var(--main-color);
}

.social-media {
    margin: .6rem 0 .8rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border:  var(--border);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--main-color);
    margin-bottom: 0 .2rem;
    transition: .5s;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tech-stack a {
    margin-left: .4rem;
    width: 1rem;
    height: 1rem;
    border: none;
}

.profile-page p {
    text-align: justify;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 3rem;
    background: var(--main-color);
    border: var(--border);
    border-radius: .3rem;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 0 1rem;
    cursor: pointer;
    transition: .5s;
}

.btn :hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn-box {
    margin-top: 1.2rem;
}

.btn-box a:hover {
    background: var(--white-color);
    color: var(--main-color);
}

.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.turn{
    transform: rotateY(-180deg);
}

.page-front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
}

.page-back {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
    
}

.page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.page-back {
    transform: rotateY(180deg) translateZ(1px);
}

.work_edu-box {
    border-left: var(--border);
}

.work_edu-content {
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
}

.work_edu-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.year {
    color: var(--main-color);
}

.marks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    
}

.work_edu-content h3 {
    font-size: 600;
}

.work_edu-content i {
    margin-right: 4rem;
}

.work_edu-content p {
    font-weight: 1rem;
}

.number-pages {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.nextprev-btn {
    position: absolute;
    bottom: .9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--second-text-color);
    display: inline-flex;
    align-items: center;
    transition: .5s;
}

.nextprev-btn:hover {
    color: var(--main-color);
}

.back {
    left: 1.5rem;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services-content {
    flex: 1 1 10rem;
    border: var(--border);
    border-radius: .5rem;
    padding: .8rem .5rem 1.1rem;
    text-align: center;
    transition: .3s ease;
}

.services-content:hover {
    box-shadow: var(--box-shadow);
}


.services-content i {
    font-size: 2.5rem;
    color: var(--main-color);
}

.services-content h3 {
    font-size: 1.1rem;
}

.services-content p {
    margin: .2rem 0 .8rem;
}

.services-content a {
    width: 8rem;
    height: 2rem;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.skills-content {
    flex: 1 1 20rem;
}

.skills-content h3{
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: .6rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

.content span {
    display:  inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 3rem;
    border: var(--border);
    border-radius: .3rem;
    font-size: x-small;
    font-weight: 300;
    transition: .3s ease;
}

.content span :hover {
    box-shadow: var(--box-shadow);
}

.content span i {
    font-size: 2rem;
    color: var(--main-color);
}

.img-box {
    display: flex;
    width: 100%;
    height: 12rem;
    border: var(--border);
    border-radius: .5rem;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.info-box {
    margin: 1rem 0 1.5rem;
}

.info-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.info-title h3 {
    font-size: 1.3rem;
}

.info-title a {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.info-title a i {
    margin-left: .3rem;
}

.info-box p {
    font-size: .7rem;
}

.tech-stack p:nth-of-type(1){
    font-weight: 600;
}

.button {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.contact-box {
    text-align: center;
}

.field {
    width: 100%;
    background: transparent;
    border: var(--border);
    border-radius: .3rem;
    padding: .8rem;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.field::placeholder {
    color: var(--text-color);
}

.contact-box textarea {
     resize: none;
     height: 15rem;
}

.back-profile {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: var(--border);
    border-radius: .3rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.back-profile:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.back-profile p {
    position: absolute;
    top: 0;
    left: 50%;
    color: var(--main-color);
    transform: translateX(-50%) scale(.5);
    font-size: 1rem;
    opacity: 0;
    transition: .5s;  

}

.back-profile :hover p {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.8rem;
}